body {
  background-image: url("../public/background.png");
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  max-height: 1vh;
}

.app_main_div_desktop {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.app_main_div_mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
}

.app_main_div_mobile > .desktop-nav-bar-hidden {
  transition: all;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  display: flex;
  background-color: #000000;
  width: 100vw;
  height: 72px;
  padding: 0;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}

.app_main_div_mobile > .desktop-nav-bar-show {
  transition: all;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  display: flex;
  background-color: #000000;
  width: 100vw;
  height: 100vh;
  padding: 0;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}

.app_main_div_desktop > .desktop-nav-bar-hidden {
  transition: all;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  display: flex;
  background: linear-gradient(90deg, #000 0%, #00000000 35%);
  background-color: #000000ff;
  width: 100px;
  height: 100vh;
  padding: 0;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}

.app_main_div_desktop > .desktop-nav-bar-show {
  transition: all;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  display: flex;
  background-color: #00000000;
  background: linear-gradient(90deg, #000 0%, #00000000 35%);
  width: 100%;
  height: 100vh;
  padding: 0;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}

.desktop-nav-bar-hidden > .nav-bar-texts {
  padding-left: 0px;
  transition: all;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  color: #eaeaea00;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
}

.desktop-nav-bar-show > .nav-bar-texts {
  padding-left: 34px;
  transition: all;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  color: #eaeaea;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
}

.mob_nav_icon {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  padding: 20px;
}

.desktop-nav-bar-hidden > .navbaricon {
  transition: all;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  opacity: 1;
  padding: 34px;
}

.desktop-nav-bar-show > .navbaricon {
  transition: all;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  opacity: 0;
  padding: 34px;
}

.imagebanner {
  width: 353px;
  height: 499px;
  flex-shrink: 0;
}

.imagebannerdiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  gap: 50px;
  margin-left: -5%;
}

.gobt_loading {
  all: unset;
  transition: all;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  width: 300px;
  height: 75px;
  flex-shrink: 0;
  border-radius: 100px;
  background: #464648;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.gobt {
  all: unset;
  transition: all;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  width: 300px;
  height: 75px;
  flex-shrink: 0;
  border-radius: 100px;
  background: #303032;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.gobt:hover {
  transition: all;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  background: #464648;
}

.gobt_text {
  color: #eaeaea;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.input-label {
  color: #fff;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.def_input_text {
  all: unset;
  width: 300px;
  height: 45px;
  background: rgba(255, 255, 255, 0.25);
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.thanks_div {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  padding-left: 15%;
}

.thanks_font_data {
  color: #eaeaea;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  line-gap-override: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.thanks_font_data_link {
  color: #eaeaea;
  font-family: Inter;
  text-decoration-line: underline;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.input_invalid {
  background-color: #ff78785e;
}

.sumary-text {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.input_tab {
  width: 300px;
}

::placeholder {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

::-ms-input-placeholder {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

._npb_div {
  display: flex;
  gap: 15px;
}

._nbp_action_bt {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.5);
}

._nbp_action_text {
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

._nbp_value_text {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

._nbp_value {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.25);
}
